@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
    margin: 0;
    font-size: 16px;
    background-color: #17A4CB;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

.custom-box {
    max-width: 700px;
    background-color: white;
    margin: 40px auto;
    padding: 30px;
    border-radius: 10px;
    animation: fadeInRight 1s ease;
}

@keyframes fadeInRight {
    0% {
        transform: translateX(40px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.custom-box::before,
.custom-box::after {
    content: '';
    display: table;
    clear: both;
}

.custom-box.hide {
    display: none;
}

.home-box h3 {
    font-size: 18px;
    color: black;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 25px;
}

.home-box p {
    font-size: 16px;
    color: black;
    font-weight: 400;
    margin-bottom: 10px;
    line-height: 22px;
}


.home-box p span {
    font-weight: 500;
}

.home-box .btn {
    margin-top: 20px;
}

.option:hover {
    box-shadow: 0 0 0 1.5px rgb(0 0 0 / 40%);
    transform: box-shadow, scale(1.1) 200ms ease-in;
}

.btn {
    background-color: #17A4CB;
    padding: 15px 45px;
    border-radius: 10px;
    color: white;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    display: inline-block;
}

.exit-btn {
 background-color: red;
 float: right;
}
.exit-btn:hover {
    box-shadow: 0 0 0 1.5px rgb(0 0 0 / 40%);
    transform: box-shadow 200ms ease-out;
}
.next-btn:hover,
.go-home-btn:hover,
.try-again-btn:hover,
.start-quiz-btn:hover {
    box-shadow: 0 0 0 1.5px rgb(0 0 0 / 40%);
    transform: box-shadow 200ms ease-out;
}

.quiz-box .question-number,
.quiz-box .question-text,
.quiz-box .option-container,
.quiz-box .answers-indicator {
    width: 100%;
    float: left;
}

.quiz-box .next-question-btn,
.quiz-box .question-number {
    font-size: 18px;
    font-weight: 600;
    color: #17A4CB;
    padding-bottom: 10px;
    line-height: 25px;
    border-bottom: 1px solid #cccccc;
}

.quiz-box .question-text {
    font-size: 18px;
    font-weight: 400;
    color: black;
    line-height: 28px;
    padding: 20px 0;
    margin: 0;
}


.quiz-box .question-text img {
    max-width: 100%;
    display: block;
    margin-top: 15px;
}

.quiz-box .option-container .option {
    font-size: 16px;
    color: black;
    line-height: 22px;
    padding: 13px 15px;
    background-color: #cccccc;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: capitalize;
    opacity: 0;
    animation: fadeIn 0.3s ease forwards;
    position: relative;
    overflow: hidden;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.quiz-box .option-container .option.correct::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: green;
    z-index: -1;
    animation: slideInLeft .5s ease forwards;
}

.quiz-box .option-container .option.wrong::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: red;
    z-index: -1;
    animation: slideInLeft .5s ease forwards;
}


@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

.quiz-box .option-container .option.correct {
    color: white;
}

.quiz-box .option-container .option.wrong {
    color: white;
}

.quiz-box .option-container .option.already-answered {
    pointer-events: none;
}

.quiz-box .btn {
    margin: 20px 0;
}

.quiz-box .answers-indicator {
    border-top: 1px solid #cccccc;
}

.quiz-box .answers-indicator div {
    height: 40px;
    width: 40px;
    display: inline-block;
    background-color: #cccccc;
    border-radius: 50%;
    margin: 15px 5px;
}

.quiz-box .answers-indicator div.correct {
    background-color: green;
    background-image: url("../img/correct.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.quiz-box .answers-indicator div.wrong {
    background-color: red;
    background-image: url("../img/wrong.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.result-box {
    text-align: center;
}

.result-box.hide {
    display: none;
}

.result-box h1 {
    font-size: 36px;
    line-height: 42px;
    color: #17A4CB;
}

.result-box table {
    width: 100%;
    border-collapse: collapse;
    margin: 30px 0;
}

.result-box table td {
    border: 1px solid #cccccc;
    padding: 8px 15px;
    font-weight: 500;
    color: black;
    text-align: left;
    font-size: 18px;
}

.result-box .btn {
    margin-right: 20px;
}

@media(max-width: 767px) {
    .home-box .btn {
        margin-top: 20px;
        width: 100%;
    }
    .result-box .btn {
        width: 100%;
        margin-bottom: 15px;
    }
    .result-box table {
        margin-left: 5px;
        margin-right: 5px;
    }
    body {
        padding: 5px;
    }
}